mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.login-card-wrapper {
  margin-top: 25vh;
}

.mat-card {
  padding: 0;
}

.mat-card-content {
  padding: 16px;
}

.mat-card-header {
  height: 8vh;
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
