<mat-card>
  <mat-card-content>
    <form #loginFormHTMLElement [formGroup]="loginForm" id="kc-form-login" name="kc-form-login"
          (ngSubmit)="onSubmit()" method="POST">
      <h2>Log In</h2>
      <mat-error *ngIf="!loginValid">
        Wrong username or password
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" name="username" required>
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
